/.dependabot
/.git
/.vscode
/db
/features
/scripts

/.codacy.yml
/.editorconfig
/.env
/.env.example
/.gitignore
/.gitlab-ci.off.yml
/.prettierrc
/.travis.yml
/codecov.yml
/knexfile.js

.next/
__tests__/
coverage/
node_modules/
tests/

*.md
Dockerfile
jest.config.js
LICENSE
