########################################
# PostgreSQL

POSTGRES_DB=cdtn
POSTGRES_USER=postgres

########################################
# PostgREST

# In production, this role should not be the same as the one used for the
# connection:
PGRST_DB_ANON_ROLE=anonymous
PGRST_DB_SCHEMA=api
PGRST_DB_URI=postgres://postgres@localhost:5432/cdtn
PGRST_JWT_SECRET=
