/builds
/node_modules

/.env

# Logs
/lerna-debug.log
/yarn-error.log

# Docker shared volume
/backups

# Manual data imports
/*.csv
/*.sql

# Prevent any script to be pushed whithin the production database seeds:
/db/seeds/prod/**/*.js
