version: "2.0"

services:
  front:
    restart: always
    build:
      dockerfile: ./Dockerfile
      context: .
    environment:
      - KINTO_URL_SERVER=http://kinto:8888
      - SENTRY_PUBLIC_DSN=https://a681630d02834fddaaf37fbccd62cd5b@sentry.tools.factory.social.gouv.fr/23
    ports:
      - 3001:3000
